.header {
  background-color: #a4143b;
  color: #f9f3e3;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  position: fixed;
  background-size: cover;
}

.title {
	font-size: 45px;
	margin-top: 0px;
}

.subtitle {
	font-size: 22px;
	margin-top: -33px;
	margin-bottom: 0px;
}

.content-divider {
	padding-top: 110px;
}

.photo-viewer {
	width: 100%;
	height: 70vh;
	margin: 0 auto;
	display: inline-block;

}

.photo-container {
	float: left;
	width: 48%;
	margin: 0;
	padding: 0;
}

.target-photo {
	margin: 0;
	padding: 0;
	max-height: 70vh;
	max-width: 100%;
	display: inline-block;

}

.target-photo:focus {
	outline-color: #a4143b;
}

.photo-content {
	width: 42%;
	float: right;
	margin-right: 10px;
	margin-left: 20px;
	padding-right: 0;
	display: inline-block;

}

.photo-location {
	font-size: 20px;
}

.photo-map {
	max-height: 400px;
	max-width: 100%;
	border: 1px solid white;
	margin-top: 15px;
	display: inline-block;

}

.photo-library {
	margin-top: 20px;
}

.photo-entry {
	margin: 5px 5px;
	height: 70px;
	width: 70px;
	cursor: pointer;
}

.photo-entry:focus {
	outline: 1px solid black;
}